/**
 * Created by JowinWaaijer on 25/11/2022.
 */
.wc-logo {
    width: 12.5%
}

.flag {
    font-size: 4rem;
}

.flag__small {
    font-size: 2rem;
}

p.head {
    font-weight: 900;
    font-size: 1.5rem;
}

.assistive-text {
    font-size: .9rem;
    font-weight: 400;
    display: block;
    color: red;
}
