/**
 * Created by JowinWaaijer on 25/11/2022.
 */
.wc-logo {
    width: 50%;
    object-fit: cover;
}

.flag {
    font-size: 4rem;
}

.flag__small {
    font-size: 2rem;
}

p.head {
    font-weight: 900;
    font-size: 1.5rem;
}

.horizontalRule {  
    border: none; 
    border-top: 1px solid gainsboro;  
   }

.rainbow {
    background-image: linear-gradient(90deg, #f44336 0%, #f44336 14.2857142857%, #f4e636 14.2857142857%, #f4e636 28.5714285714%, #5ff436 28.5714285714%, #5ff436 42.8571428571%, #36f4b0 42.8571428571%, #36f4b0 57.1428571429%, #3696f4 57.1428571429%, #3696f4 71.4285714286%, #7936f4 71.4285714286%, #7936f4 85.7142857143%, #f436cc 85.7142857143%, #f436cc 100%, #f44336 100%, #f44336 114.2857142857%);
}

.blackandbold {
    color: black;
    font-weight: bold;
}

.assistive-text {
    font-size: .9rem;
    font-weight: 400;
    display: block;
    color: red;
}

.statistics {
    transition: height 1s;
    background-color: #FAFAFA;
}

.starting_eleven {
    font-size: .8rem;
    font-weight: 400;
}

.substitutes {
    font-size: .7rem;
    font-weight: 200;
}

.wc-gradient {
    color: #fff;
    background: rgb(139,0,41);
    background: linear-gradient(150deg, rgba(139,0,41,1) 0%, rgba(32,0,13,1) 100%);
}
